<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="make">
            <h2><span jhiTranslate="hipcarzApp.make.detail.title">Make</span> {{make.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hipcarzApp.make.name">Name</span></dt>
                <dd>
                    <span>{{make.name}}</span>
                </dd>
                <dt><span jhiTranslate="hipcarzApp.make.desc">Desc</span></dt>
                <dd>
                    <span>{{make.desc}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/make', make.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
