<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inventory-heading" jhiTranslate="hipcarzApp.inventory.home.createOrEditLabel">Create or edit a Inventory</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventory.vin" for="field_vin">Vin</label>
                    <input type="text" class="form-control" name="vin" id="field_vin"
                           formControlName="vin"/>
                    <div *ngIf="editForm.get('vin').invalid && (editForm.get('vin').dirty || editForm.get('vin').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vin').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vin').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 17 }">
                        This field cannot be longer than 17 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventory.year" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                    <div *ngIf="editForm.get('year').invalid && (editForm.get('year').dirty || editForm.get('year').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1900 }">
                            This field should be at least 1900.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('year').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 2050 }">
                            This field cannot be more than 2050.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('year')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventory.color" for="field_color">Color</label>
                    <input type="text" class="form-control" name="color" id="field_color"
                           formControlName="color"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventory.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                    <div *ngIf="editForm.get('comment').invalid && (editForm.get('comment').dirty || editForm.get('comment').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comment').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 128 }">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventory.inventoryModel" for="field_inventoryModel">Inventory Model</label>
                    <select class="form-control" id="field_inventoryModel" name="inventoryModel" formControlName="inventoryModelId">
                        <option *ngIf="!editForm.get('inventoryModelId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="inventoryModelOption.id" *ngFor="let inventoryModelOption of inventorymodels; trackBy: trackInventoryModelById">{{inventoryModelOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('inventoryModelId').invalid && (editForm.get('inventoryModelId').dirty || editForm.get('inventoryModelId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('inventoryModelId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
