<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inventory">
            <h2><span jhiTranslate="hipcarzApp.inventory.detail.title">Inventory</span> {{inventory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hipcarzApp.inventory.vin">Vin</span></dt>
                <dd>
                    <span>{{inventory.vin}}</span>
                </dd>
                <dt><span jhiTranslate="hipcarzApp.inventory.year">Year</span></dt>
                <dd>
                    <span>{{inventory.year}}</span>
                </dd>
                <dt><span jhiTranslate="hipcarzApp.inventory.color">Color</span></dt>
                <dd>
                    <span>{{inventory.color}}</span>
                </dd>
                <dt><span jhiTranslate="hipcarzApp.inventory.comment">Comment</span></dt>
                <dd>
                    <span>{{inventory.comment}}</span>
                </dd>
                <dt><span jhiTranslate="hipcarzApp.inventory.inventoryModel">Inventory Model</span></dt>
                <dd>
                    <div *ngIf="inventory.inventoryModelId">
                        <a [routerLink]="['/inventory-model', inventory.inventoryModelId, 'view']">{{inventory.inventoryModelName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inventory', inventory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
