<div>
    <h2 id="page-heading">
        <span jhiTranslate="hipcarzApp.inventoryModel.home.title">Inventory Models</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory-model" [routerLink]="['/inventory-model/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="hipcarzApp.inventoryModel.home.createLabel">
            Create new Inventory Model
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hipcarzApp.inventoryModel.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="inventoryModels?.length === 0">
        <span jhiTranslate="hipcarzApp.inventoryModel.home.notFound">No inventoryModels found</span>
    </div>
    <div class="table-responsive" *ngIf="inventoryModels?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="hipcarzApp.inventoryModel.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vehicleType"><span jhiTranslate="hipcarzApp.inventoryModel.vehicleType">Vehicle Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="desc"><span jhiTranslate="hipcarzApp.inventoryModel.desc">Desc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makeName"><span jhiTranslate="hipcarzApp.inventoryModel.make">Make</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inventoryModel of inventoryModels ;trackBy: trackId">
                <td><a [routerLink]="['/inventory-model', inventoryModel.id, 'view' ]">{{inventoryModel.id}}</a></td>
                <td>{{inventoryModel.name}}</td>
                <td jhiTranslate="{{'hipcarzApp.VehicleType.' + inventoryModel.vehicleType}}">{{inventoryModel.vehicleType}}</td>
                <td>{{inventoryModel.desc}}</td>
                <td>
                    <div *ngIf="inventoryModel.makeId">
                        <a [routerLink]="['../make', inventoryModel.makeId , 'view' ]" >{{inventoryModel.makeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/inventory-model', inventoryModel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/inventory-model', inventoryModel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'inventory-model', { outlets: { popup: inventoryModel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="inventoryModels?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
