<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-inventory-model-heading" jhiTranslate="hipcarzApp.inventoryModel.home.createOrEditLabel">Create or edit a Inventory Model</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventoryModel.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventoryModel.vehicleType" for="field_vehicleType">Vehicle Type</label>
                    <select class="form-control" name="vehicleType" formControlName="vehicleType" id="field_vehicleType">
                        <option value="SUV">{{'hipcarzApp.VehicleType.SUV' | translate}}</option>
                        <option value="SEDAN">{{'hipcarzApp.VehicleType.SEDAN' | translate}}</option>
                        <option value="TRUCK">{{'hipcarzApp.VehicleType.TRUCK' | translate}}</option>
                        <option value="COUPE">{{'hipcarzApp.VehicleType.COUPE' | translate}}</option>
                        <option value="CONVERTABLE">{{'hipcarzApp.VehicleType.CONVERTABLE' | translate}}</option>
                        <option value="WAGON">{{'hipcarzApp.VehicleType.WAGON' | translate}}</option>
                        <option value="HATCHBACK">{{'hipcarzApp.VehicleType.HATCHBACK' | translate}}</option>
                        <option value="MINIVAN">{{'hipcarzApp.VehicleType.MINIVAN' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventoryModel.desc" for="field_desc">Desc</label>
                    <input type="text" class="form-control" name="desc" id="field_desc"
                           formControlName="desc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hipcarzApp.inventoryModel.make" for="field_make">Make</label>
                    <select class="form-control" id="field_make" name="make" formControlName="makeId">
                        <option *ngIf="!editForm.get('makeId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="makeOption.id" *ngFor="let makeOption of makes; trackBy: trackMakeById">{{makeOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('makeId').invalid && (editForm.get('makeId').dirty || editForm.get('makeId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('makeId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
