<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inventoryModel">
            <h2><span jhiTranslate="hipcarzApp.inventoryModel.detail.title">Inventory Model</span> {{inventoryModel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hipcarzApp.inventoryModel.name">Name</span></dt>
                <dd>
                    <span>{{inventoryModel.name}}</span>
                </dd>
                <dt><span jhiTranslate="hipcarzApp.inventoryModel.vehicleType">Vehicle Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'hipcarzApp.VehicleType.' + inventoryModel.vehicleType}}">{{inventoryModel.vehicleType}}</span>
                </dd>
                <dt><span jhiTranslate="hipcarzApp.inventoryModel.desc">Desc</span></dt>
                <dd>
                    <span>{{inventoryModel.desc}}</span>
                </dd>
                <dt><span jhiTranslate="hipcarzApp.inventoryModel.make">Make</span></dt>
                <dd>
                    <div *ngIf="inventoryModel.makeId">
                        <a [routerLink]="['/make', inventoryModel.makeId, 'view']">{{inventoryModel.makeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inventory-model', inventoryModel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
